<div class="view-child" ng-init="vm.init()">
    <div ng-hide="vm.loader">




    </div>
    <div class="spinner-loader" ng-show="vm.loader">
        <img src="./assets/images/spinner-lg.gif">
    </div>
</div>