<div class="view-child" ng-init="vm.init()">
    <div class="article-page" ng-hide="vm.loader">

        <div class="article-header">
            <h2>{{vm.article.data.title}}</h2>
        </div>

        <!-- Iterate section list -->
        <div ng-repeat="section in vm.article.sections">
            <div class="section-editor" ng-if="section.name == 'Code'" >
                <textarea readonly>
                    {{section.code}}
                </textarea>
            </div>

            <div class="section-image" ng-if="section.name == 'Image'">
                <img ng-src="./storage/images/{{section.filename}}">
            </div>

            <div class="section-video" ng-if="section.name == 'VideoEmbedded'">
                <iframe width="420" height="315"
                        ng-src="{{section.urlIframeYoutube}}">
                </iframe>
            </div>

            <div class="section-text" ng-if="section.name == 'Text'">
                <p>{{section.text}}</p>
            </div>
        </div>

    </div>
    <!-- Spinner loader -->
    <div class="spinner-loader" ng-show="vm.loader">
        <img src="./assets/images/spinner-lg.gif">
    </div>
</div>