body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background: rgb(62, 62, 62);
}

p, label {
    color: #FFF;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

h1, h2, h3, h4, h5 {
    color: #FFF;
}


header nav {
    overflow: hidden;
    width: 100%;
    width: 100vw;
    height: 75px;
    background-color:  #232323;
    border-bottom: solid 2px #00847e;
    position: fixed;
    padding: 0px 15px 0px 15px;
    color: #00847e;
}
header nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    flex-direction: row;
}

nav li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-self: center;
}

nav ul li:nth-child(1) {
    padding:0px 5px 0px 5px;
}

nav ul li:nth-child(2) {
    flex-grow: 1;
    padding:0px 0px 0px 12px;
    font-size: 1.6em;
    font-weight: bold;
}

header nav .logo {
    height: 55px;
}


.content-page-viewer {
    width: 100%;
    padding-top: 85px;
    min-height: 90vh;
    display: flex;
    align-self: stretch;
    justify-content: center;
}

.view-child {
    display: flex;
    width: 55%;
    background-color: #232323;
    flex-direction: row;
    border: solid 2px #00847e;
}

.spinner-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.spinner-loader img{
    width: 90px;
}

.article-page {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.section-image, .section-video, .section-editor, .section-text {
    margin: 16px 0px 16px 0px;
}

.section-image, .section-video, .section-editor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-image img {
    width: 60%;
    border: solid 1px #00847e;
}

.section-video iframe {
    width: 45%;
    border: solid 1px #00847e;
}

.section-editor textarea{
    resize: none;
    min-height: 400px;
    border: solid 1px #00847e;
    width: 82%;
    font-weight: bold;
    color: #00847e;
    font-size: 15px;
    background-color: #232323;
    font-family: Arial;
    box-sizing: border-box;
    padding: 0px 0px 0px 31px;
}
.





