<!DOCTYPE html>
<html ng-app="app" lang="es">
<head>
    <meta charset="utf-8">
    <title ng-bind="title"></title>
    <meta name="author" content="Jorge García">
    <meta name="version" content="<?=$version?>">
    <meta name="app-name" content="<?=$appname?>">
    <meta name="description" content="Biblioteca de conocimientos">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./assets/css/style.css?v=<?=$version?>" rel="stylesheet">
    <link href="./node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="./node_modules/roboto-fontface/css/roboto/roboto-fontface.css" rel="stylesheet">
    <link rel="icon" type="image/gif" href="./assets/images/icon.ico">
</head>
<body ng-cloak>
    <header>
        <nav>
            <ul>
                <li>
                    <img class="logo" src="./assets/images/icon-lg.svg" />
                </li>
                <li>
                    {{appname}}
                </li>
            </ul>
        </nav>
    </header>
    <div class="content-page-viewer" ng-view></div>
    <footer></footer>
    <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./assets/js/app.js"></script>
</body>
</html>